:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@import 'tailwindcss';
/* @media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
@layer utilities {
	.mask-egg {
		mask-image: url('/figures/egg-shape.svg');
		mask-size: cover;
		mask-repeat: no-repeat;
		mask-position: center;
		-webkit-mask-image: url('/figures/egg-shape.svg');
		-webkit-mask-size: cover;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
	}
}
